.transactions-page {
  padding: 30px;
  background: #f7fafc;
  min-height: 100vh;
}

/* HEADER */
.page-header h1 {
  font-size: 28px;
  margin-top: -30px;
  color: black;
  
}
.page-header p {
  color: #6b7280;
}

/* SUMMARY CARDS */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.summary-card {
  color: white;
  padding: 24px;
  border-radius: 14px;
  position: relative;
  transition: transform 0.3s ease;
}
.summary-card:hover {
  transform: translateY(-6px);
}

.summary-card svg {
  font-size: 26px;
  margin-bottom: 12px;
}

.summary-card h2 {
  font-size: 32px;
  margin: 10px 0;
}

.summary-card.credit {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
}
.summary-card.debit {
  background: linear-gradient(135deg, #ff5f5f, #e53935);
}
.summary-card.transfer {
  background: linear-gradient(135deg, #3498db, #1e88e5);
}

.summary-card .tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255,255,255,0.2);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* FILTER */
.filter-card {
  background: rgb(246, 241, 241);
  padding: 24px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  margin-bottom: 30px;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.max-amount {
  grid-column: span 2;
}

.filter-card label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #374151;
}

.filter-card input,
.filter-card select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.input-icon {
  position: relative;
}
.input-icon svg {
  position: absolute;
  top: 10px;
  left: 10px;
}
.input-icon input {
  padding-left: 36px;
}

/* FILTER BUTTONS */
.filter-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: -30px;
}

.btn-secondary,
.btn-dark,
.btn-outline {
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btn-secondary {
  background: #4b5563;
  color: white;
}
.btn-dark {
  background: #1e3a5f;
  color: white;
}
.btn-outline {
  background: transparent;
  border: 2px solid #1e3a5f;
  color: #1e3a5f;
}

/* TABLE */
.table-card {
  background: white;
  color: black;
  border-radius: 14px;
  overflow: hidden;
}

.table-header {
  background: linear-gradient(135deg, #1e3a5f, #274c77);
  color: white;
  padding: 16px 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f1f5f9;
}

th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.credit-text {
  color: #16a34a;
}
.debit-text {
  color: #dc2626;
}

.status.success {
  background: #bbf7d0;
  color: #166534;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}
