.footer {
  background: linear-gradient(180deg, #0b1c2d, #050d1a);
  color: #cbd5e1;
  padding: 60px 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-brand h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  margin-left: 30px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #f59e0b; /* ORANGE */
  transform: translateY(-4px);
}

.footer-links h4,
.footer-contact h4 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-links a {
  display: block;
  color: #cbd5e1;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #f59e0b; /* ORANGE */
  transform: translateX(6px);
}

.footer-contact p,
.footer-contact span {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-bottom {
  border-top: 1px solid #1f2937;
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-policy a {
  margin-left: 15px;
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-policy a:hover {
  color: #f59e0b; /* ORANGE */
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-policy a {
    margin-left: 8px;
    margin-right: 8px;
  }
}
